* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    background-color: #ecf2f8;
    font-size: 16px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h4 {
    opacity: 0.8;
}

p.name {
    opacity: 0.3;
}

#testimonial-container {
    padding: 5% 3%;
    position: relative;

}

#testimonial-1 {
    background-color: #7541c8;
    color: white;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

#testimonial-2 {
    background-color: #48556a;
    color: white;
    border-radius: 10px;
}

#testimonial-3 {
    background-color: #ffffff;
    border-radius: 10px;
    color: #48556a;
}

#testimonial-4 {
    background-color: #19212e;
    color: white;
    border-radius: 10px;
}

#testimonial-5 {
    background-color: #ffffff;
    border-radius: 10px;
    color: #48556a;
}

.grid-item {
    padding: 20px;
    margin-bottom: 20px;
}

.author {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.author-details {
    margin-left: 20px;
}

.author img {
    border-radius: 50%;
    margin-left: 10px;
}

.grid-item h2 {
    margin-bottom: 20px;
}

.grid-item p {
    opacity: 0.7;
}

#quote {
    position: absolute;
    top: 0;
    right: 7%;
    z-index: -3;
}

@media(min-width:575px) {
    #testimonial-container {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        max-width: 1440px;
    }


    #left-top-container,
    #left-bottom-container {
        display: flex;
        justify-content: space-between;
    }

    #testimonial-1 {
        flex-basis: 60%;


    }

    #testimonial-2 {
        flex-basis: 29%;

    }

    #testimonial-3 {
        flex-basis: 29%;

    }

    #testimonial-4 {
        flex-basis: 60%;

    }

    #left-container {
        width: 73%;
        display: flex;
        flex-direction: column;
    }

    #right-container {
        width: 25%;
        display: flex;
    }
}